*.sdf
*.idb
*.tlog
*.log
*.sln
*.vcxproj
*.vcxproj
*.filters
*.vcxproj
*.obj
Engine/CinderEngine/premake/CinderEngine.vcxproj.filters
/Engine/CinderEngine/CinderEngine.opensdf
/Engine/CinderEngine/CinderEngine.v12.suo
/Engine/CinderEngine/source/Engine/System/Physics/BoxCollider.cpp
/Engine/CinderEngine/include/Engine/System/Physics/BoxCollider.h
Engine/CinderEngine/include/Engine/System/Physics/ShapeCollider.h
/Engine/CinderEngine/bin/debug/cinderengine.pdb
/Engine/CinderEngine/obj
/Engine/CinderEngine/bin
/Builds/Fall_Submission_Build
/Engine/Resources/SpriteSheets/Thumbs.db
/Engine/Resources/Textures/Thumbs.db
/Engine/CinderEngine/premake/CinderEngine.vcxproj.user
/Engine/Resources/Levels/Terrain_Easy3(scale_error).terrain
/Engine/Resources/Levels/Terrain_Easy3.terrain
/Engine/Resources/Levels/Terrain_EasySlope.terrain
/Engine/CinderEngine/logs
