*.sdf
*.idb
*.tlog
*.log
*.sln
*.vcxproj
*.vcxproj
*.filters
*.vcxproj
*.obj
Engine/CinderEngine/premake/CinderEngine.vcxproj.filters
/Engine/CinderEngine/CinderEngine.opensdf
/Engine/CinderEngine/CinderEngine.v12.suo
/Engine/CinderEngine/source/Engine/System/Physics/BoxCollider.cpp
/Engine/CinderEngine/include/Engine/System/Physics/BoxCollider.h
Engine/CinderEngine/include/Engine/System/Physics/ShapeCollider.h
/Engine/CinderEngine/bin/debug/cinderengine.pdb
/Engine/CinderEngine/obj
/Engine/CinderEngine/bin
